@import "tailwindcss";

.famssaBlue {
  color: #0B1D45;
}

.famssaYellow {
  color: #FE9A2B;
}

.background {
  background-color: #F5F5F5;
}

.bg-hero {
  background-image: url('/assets/bg-hero.png');
  background-size: cover;
  background-position: center;
}